DATABASE_ENGINE=postgresql
DATABASE_NAME=mpttools
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_CONN_MAX_AGE=60
DATABASE_SSLMODE=prefer
BACKUP_DIR=
BACKUP_KEEP_COUNT=14
PG_DUMP_PATH=pg_dump
BACKUP_CRON_SCHEDULE=0 2 * * *
